html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, Segoe UI, Fira Sans, Oxygen, Ubuntu,
    Cantarell Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  background-color: white;
  color: #777777;
  font-weight: 300;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

a, a:hover {
    text-decoration: none;
    color: unset;
    transition: 0.3s all ease;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 66px;
  font-weight: 900;
  line-height: 1.2;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
}

h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 600px) {
  html, body {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }
}